PORT=5000
MONGODB_URI=mongodb+srv://deepakpancholianuj:DTIecZLXS6I3iLDy@cluster0.yqqqdz8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ThisIsMySuperSecretKeyFor-StudyNotes-Project-2025!@sjnsksmsjkms

CLIENT_URL=http://localhost:3000
